
:root{}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

.bg a{
    color:  #e5261f;
}


.logo{
    width: 50px;
    height: 50px;

}
.text{
    font-size: medium;
}
a{
    text-decoration: none;
}

.call{
    position: relative;
    overflow: hidden;
    background-color: #fbeaee;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
}


.call .call-box-top{
    flex: 1 0 auto;
    padding: 40px;
}
.call .call-phone{
    margin-bottom: 5px;
}

.btn-toolbar{
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    background: #e5261f;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    transition: all 0.15s ease
}


.img{
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.row{
    justify-content: space-between;}


.body{
    
    color: #2f2f41;
}

.body-margin{
    margin-left: 120px;
    margin-right: 120px;
}
.services-header {
    font-size: 35px;
    color: #2f2f41;
    margin-bottom: 32px;
    
}

strong{
    font-weight: bold;
}
.col-md-6 {
    flex: 0 0 45%;
    max-width: 45%;}
.h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.h3{
    
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}

.p-tag{
    margin-bottom: 20px;
}

.cnt{
    margin-left: -300px;
}

.text-header{
    font-size: 35px;
    color: #2f2f41;
}
.h2{
    
    justify-content: center;
    
}
.img-logo{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
}
.img{
    vertical-align: middle;
    border-style: none;
}

.align-items-start{
    justify-content: flex-start! important;
}

.box-group:first-child{
    margin-left: 0px;
}

.box> img{
    float: left;
    border: 1px solid;
    color: #e5e5e5;
    padding: 10px;
    margin: 5px;
}
.mb-1{
    margin-bottom: 10px! important;
}
.java{
    margin-bottom: 2px;
    font-size: 20px;
}
.text-p{
    font-size: small;
    color: #5c5a5a;
    overflow: hidden;
    text-overflow: unset;
    white-space: nowrap;
}
.p{
    line-height: 26px;
    
}

.icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}
.IT{
    list-style: none;
    margin-left: 0px;
}
.email{
    color: #e5261f;
    text-decoration: none;
    background: #f1eaea;
}

.footer-col1{
    margin-bottom: 15px;
    width: calc(100% - (30px / 2));
    padding: 0 15px;
}

.footer-icon{
    display: table;
    margin: 0px auto;
}

.icon-link{
    
    float: left;
    margin: 5px 10px 5px 0px;
}

.footer-icon ul li a{
    color: gray;
}




